# PostgreSQL
POSTGRE_HOST=db
POSTGRE_PORT=5432
POSTGRE_DB=task_management
POSTGRE_USER=postgres
POSTGRE_PW=your_password

# APP
APP_ENV=dev

# PostgreSQL公式イメージが参照する変数
POSTGRES_DB=task_management
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
